* {
  box-sizing: border-box;
}

body {
  font-family: 'Rubik';
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}


@media (max-width: 1130px) {
  .container {
    max-width: 930px;
  }
}
@media (max-width: 930px) {
  .container {
    max-width: 730px;
  }
}


/* header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  
}

.header__list {
  display: flex;
  gap: 40px;
}
@media (max-width: 1130px) {
  .header__list {
    gap: 25px;
  }
}
@media (max-width: 930px) {
  .header__list {
    gap: 10px;
  }
}
@media (max-width: 630px) {
  .header__list {
    gap: 5px;
  }
}


.header__logotype {
  font-weight: 500;
  text-decoration: none;
  color: #fff
}

.header__link {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  transition: .27s;
}
@media (max-width: 1130px) {
  .header__link {
    padding: 8px 16px;
  }
}
@media (max-width: 930px) {
  .header__link {
    padding: 6px 12px;
    font-size: 14px;
  }
}
@media (max-width: 630px) {
  .header__link {
    padding: 4px 12px;
  }
}

.header__link:hover {
  background: #fff;
  color: #121212;
}

/* end header */


/* film */

.film {
  padding-top: 184px;
  background: url('./bg_01.png');
  height: 800px;
  margin-bottom: 50px;
}

.film__container {
  display: flex;

}

.film__text-box {
  color: #fff;
  flex: 0 0 60%;
}
.film__play-box {
  flex: 0 0 40%;
}

.text-box__small {
  font-size: 20px;
  margin-bottom: 12px;
}
.text-box__big {
  font-size: 30px;
}

.play-box__play-btn:hover {
  cursor: pointer;
}

.film__play-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-box__inner-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
}

/* end film */


/* materialen */

.materialen {
  margin-bottom: 50px;
}

.materialen__text-box {
  width: 40%;
}

.materialen__title {
  font-size: 38px;
  margin-bottom: 13px;
}

.materialen__text {
  font-size: 14px;
  letter-spacing: .05em;
  color: #646D70;
  margin-bottom: 13px;
  line-height: 1.8em;
}

.materialen__btn {
  padding: 10px 15px;
  border: 1px solid gray;
  border-radius: 4px;
  color: gray;
  background: #fff;
  transition: 0.3s;
}
.materialen__btn:hover {
  background: lightgray;
  cursor: pointer;
}

/* end materialen */
